* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.primary {
  width: 84px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #1e1584;
  border-radius: 188.13px;
}
.active {
  width: 84px;
  height: 50px;
  background: linear-gradient(
    180deg,
    #aca4ff 0%,
    #7b6fff 0.01%,
    #5242ff 99.98%
  );
  border-radius: 10px;
  border: none;
  margin-left: 20px;
}
